.order {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 640px;
  margin: auto;
}

.orderId {
  align-self: center;
  margin: 122px 0 40px 0;
  color: var(--text-primary-light);
}

.orderIdModal {
  align-self: flex-start;
  margin: -45px 0 40px 0;
}

.title {
  color: var(--text-primary-light);
}

.status {
  margin: 8px 0 60px;
  color: var(--text-primary-light);
}

.statusReady {
  color: var(--interface-success);
}

.ingredients {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 316px;
  overflow-y: scroll;
}

.ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16px;
  width: 100%;
  margin: 20px 0;
}

.image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid var(--interface-accent);
  background-color: var(--interface-modal-bg);
  object-fit: contain;
}

.name {
  text-align: start;
  width: 400px;
}

.price {
  color: var(--text-primary-light);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 9px;
}

.date {
  color: var(--text-dark-grey);
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 40px 0 0 0;
}
