.card {
  max-width: 272px;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.digit {
  margin-right: 9px;
}

.text {
  margin: 0;
  padding: 0;
  color: var(--text-primary-light);
  min-height: 48px;
}