.title {
  margin: 40px 0 24px 0;
  padding: 0;
  text-align: start;
  color: var(--text-primary-light);
}

.list {
  list-style: none;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 32px;
  column-gap: 24px;
}