.feed {
  width: 1240px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: flex-start;
  padding: 40px 0 0 0;
}

.title {

}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}