@import url('./vendor/normalize.css');
@import url('./fonts/fonts.css');

:root {
  --neon: #b5ff3d;
  --interface-bg: #131316;
  --interface-modal-bg: #1c1c21;
  --interface-accent: #4c4cff;
  --interface-input: #2f2f37;
  --interface-success: #00cccc;
  --interface-modal-edge: rgba(76, 76, 255, 0.2);
  --text-primary-light: #f2f2f3;
  --text-dark-grey: #8585ad;
  --button-normal: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
  --button-active: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--interface-input);
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-dark-grey);
}
